* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

ul > li {
    list-style-type: none;
}

a {
    text-decoration: none;
}